<ol>
  {{#each posts as |post|}}
    <li>
      <article>
        <div>
          <a href='{{post.tag}}' target='_blank'>{{post.title}}</a>
        </div>
        <div>
          {{post.description}}
          Posted By:
          {{post.username}}
          Created on:
          {{post.created_at}}
          Requirements:
          {{post.requirements}}
          When:
          {{post.deadline}}
          <a href='/post/{{post.id}}'></a>
        </div>
      </article>
    </li>
  {{/each}}
</ol>

