{{!-- <ol>
  {{#each posts as |post|}}
    <li>
      <article>
        <div>
          <a href='{{post.tag}}' target='_blank'>{{post.title}}</a>
        </div>
        <div>
          {{post.description}}
          Posted By:
          {{post.username}}
          Created on:
          {{post.created_at}}
          Requirements:
          {{post.requirements}}
          When:
          {{post.deadline}}
          <a href='/post/{{post.id}}'></a>
        </div>
      </article>
    </li>
  {{/each}}
</ol> --}}

<div id="expand-box">
  <div class="wrapper">
   <div id="handlebars-sandbox"></div>
    <div class="dashboard-content">
      <div style="display: none;" id="posts">
{{#each post}}   
             {{#each this}}
               <div class="panel">
                <div class="column">
                  <div id="title">Title: {{title}} <b>Posted By: {{username}}/5</b></div>
                  <div id="description">Description: <b>{{description}}</b></div>
                  <div id="Requirements">Date Created: {{created_at}}</div>
                </div>
              </div>
             {{/each}}
        
        </div>
      </div>
    </div>
