<ol>
  {{#each posts as |post|}}
    <li>
      <article>
        <div>
          <a href='{{post.post_url}}' target='_blank'>{{post.title}}</a>
          <span>({{post.post_url}})</span>
        </div>
        <div>
          {{post.vote_count}}
          point(s) by
          {{post.user.username}}
          on
          {{post.created_at}}
          |
          <a href='/post/{{post.id}}'>{{post.comments.length}} comment(s)</a>
        </div>
      </article>
    </li>
  {{/each}}
</ol>