<body>
  <hr class="bg-light">
    <article class="container text-dark ">
      <div class="card border-light mb-3">
        <div class="row no-gutters align-items-center">
          <div class="col-12 col-lg-6 col-xl-8">
            <div class="card-img p-2 rounded-xl">
    {{#if loggedIn }}
    <script src="../javascript/logout.js"></script>
    {{/if}}
    <div>
      {{! Google maps.  API is restricted at the highest setting so it can't be used by others. }}
      <iframe
        width="600"
        height="450"
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBJBhD25Oh977iUWwe6QM84YLjGF4g8joo&q=Austin+TX"
      >
      </iframe>
          </div>
        </div>
      </div>

  <div class="card col-12 col-lg-6 col-xl-4 border-light" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Title: {{post.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle{{post.id}}</h6>
    <p class="card-text">{{post.body}}</p>
    <h6 class="card-text">Created By: {{post.username}} Deadline: {{post.deadline}}</h6>
    <h6 class="card-text">Requirements: {{post.requirements}}</h6>
    {{#if loggedIn}}
      <div>
            <button class="btn-primary" onclick="issueClosed()">Task Completed</button>
          </div>
          <script>
            function issueClosed() { 
              var myText = "Remember to rate your helper.";
              alert (myText);
              };
          </script>
    {{/if}}
  <div class="star-container">
      <span id="rateMe3" class="rating-faces"></span>
    </div>
    <script>
      $('#rateMe3').mdbRate(); });
    </script> 
  </div>
</div>
      </div>
    </div>
  </div>
</div>
    </article>
    {{#if loggedIn }}
    <script src="../javascript/logout.js"></script>
    {{/if}}
    <div>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJBhD25Oh977iUWwe6QM84YLjGF4g8joo"></script>
    </div>
  </body>