<body>
    <article>
      <div>
        <a href="{{post.tag}}" target="_blank">{{post.title}}</a>
        {{#if loggedIn}}
          <div>
             <button class="btn-primary" onclick="post-update"/>I Want to Help</button>
          </div>
        {{/if}}
        <span>({{post.id}})</span>
        
      </div>
      <div>
        {{ post.body }}
      </div>
      <div>
        Posted by:
        {{post.username}}
        When:
        {{post.deadline}}
        Date Posted:
        {{post.created_at}}
        Requirements:
        {{post.requirements}}
        Tags:
        {{post.tags}}
        |
        {{post.id}}">
      </div>
    </article>
  

    {{#if loggedIn }}
    <script src="../javascript/logout.js"></script>
    {{/if}}
    <div>
      {{! Google maps.  API is restricted. }}
      <iframe
        width="600"
        height="450"
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBJBhD25Oh977iUWwe6QM84YLjGF4g8joo&q=Austin+TX"
      >
      </iframe>

      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJBhD25Oh977iUWwe6QM84YLjGF4g8joo"></script>
    </div>
  </body>