<article>
  <div>
    <a href='{{post.post_url}}' target='_blank'>{{post.title}}</a>
    <span>({{post.post_url}})</span>
  </div>
  <div>
    {{post.vote_count}}
    point(s) by
    {{post.user.username}}
    on
    {{post.created_at}}
    |
    <a href='/post/{{post.id}}'>{{post.comments.length}} comment(s)</a>
  </div>
</article>
{{#if loggedIn}}
  <form>
    <div>
      <textarea name='comment-body'></textarea>
    </div>

    <div>
      <button type='submit'>add comment</button>
      <button type='button' class='upvote-btn'>upvote</button>
    </div>
  </form>
{{/if}}

<div>
  {{#each post.comments}}
    <section>
      <div>
        {{user.username}}
        on
        {{created_at}}
      </div>
      <div>
        {{comment_text}}
      </div>
    </section>
  {{/each}}
</div>
{{#if loggedIn}}
  {{! JAVASCRIPT FILE LINKS - IF LOGGED IN, THEN YOU CAN VIEW POSTS }}
{{/if}}