<article>
  <div>
    <a href='{{post.post_url}}' target='_blank'>{{post.title}}</a>
    <span>({{post.post_url}})</span>
  </div>
  <div>
    {{post.vote_count}}
    point(s) by
    {{post.user.username}}
    on
    {{post.created_at}}
    |
    <a href='/post/{{post.id}}'>{{post.comments.length}} comment(s)</a>
  </div>
</article>
{{#if loggedIn}}
  <form>
    <div>
      <textarea name='comment-body'></textarea>
    </div>

    <div>
      <button type='submit'>add comment</button>
      <button type='button' class='upvote-btn'>upvote</button>
    </div>
  </form>
{{/if}}

<div>
  {{#each post.comments}}
    <section>
      <div>
        {{user.username}}
        on
        {{created_at}}
      </div>
      <div>
        {{comment_text}}
      </div>
    </section>
  {{/each}}
</div>
{{#if loggedIn}}
  {{! JAVASCRIPT FILE LINKS - IF LOGGED IN, THEN YOU CAN VIEW POSTS }}
{{/if}}
<div>
  {{!-- Google maps.  API is restricted. --}}
  <iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBJBhD25Oh977iUWwe6QM84YLjGF4g8joo
    &q=Austin+TX">
</iframe>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJBhD25Oh977iUWwe6QM84YLjGF4g8joo">
</script>
</div>